@import url("header-stily.css");
@import url("main-style.css");
@import url("footer-style.css");

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background: #333;
    background-color: black;
	color: #fff;
	font-size: 1.1em;
	line-height: 1.5em;
	text-align: center;
}
